<div class="row justify-content-center">
    <div class="col-4 login-card">
        <div class="text-center">
            <p class="login-Title">LOGIN</p>
        </div>
        <div class="form-floating mt-4">

            <input type="text" class="form-control form-control-sm" id="userForm" placeholder=" " aria-describedby="userVal">
            <label for="userForm">Email</label>
            <!-- <small id="userVal" class="form-text text-danger">Usuario Incorrecto</small> -->
        </div>
        <div class="form-floating mt-3">
            <input type="password" class="form-control form-control-sm" id="userPass" placeholder=" ">
            <label for="userPass">Password</label>
        </div>
        <button class="btn  w-100 mt-4">Ingresar</button>
    </div>
</div>